@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  /* Base font size */
  --base-font-size: 16px;

  /* Accents */
  --orangeshade: rgb(255, 197, 147);
  --magentashade: rgb(188, 113, 152);
  --lightblueshade: rgb(90, 119, 255);

  /* Main */
  --pureblack: rgb(0, 0, 0);
  --lightgrey: rgb(223, 223, 223);
  --purewhite: rgb(255, 255, 255);

  /* Typo */
  --heading-font-weight: 700;

  /* H1 */
  --heading-large-font-size: 2.5rem;
  --heading-large-line-height: 3rem;
  --heading-large-character-spacing: 0.26rem;

  /* H2 */
  --heading-mid-font-size: 1.5rem;
  --heading-mid-line-height: 1.5625rem;
  --heading-mid-character-spacing: 0rem;
  /* H3 */
  --heading-small-font-size: 1.125rem;
  --heading-small-line-height: 1.5625rem;

  /* H4 */
  --heading-small-font-size: 0.75rem;
  --heading-small-line-height: 1rem;
  --heading-small-character-spacing: 0.125rem;

  /* Body */
  --body-font-size: 0.9375rem;
  --body-lineheight: 1.5625rem;
  --body-font-weight: 400;

  /* Button */
  --button-font-size: 0.75rem;
  --button-line-height: auto;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-size: var(--base-font-size);
}

/*Navbar CSS*/

.navbar__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-lineheight);
  text-transform: uppercase;
}

.navbar__logo {
  font-size: 1.25rem;
  font-weight: 700;
}

.navbar__navigation-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  list-style-type: none;
}

.navbar__navigation-link {
  color: var(--pureblack);
  font-weight: var(--body-font-weight);
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

.navbar__navigation-link:hover {
  color: var(--lightgrey);
}

.navbar__label {
  font-weight: var(--body-font-weight);
  background-color: var(--pureblack);
  padding: 12px 24px;
  transition: all ease-in-out 0.3s;
}

.navbar__label .navbar__lable-link {
  text-decoration: none;
  color: var(--purewhite);
  transition: all ease-in-out 0.3s;
}

.navbar__label:hover {
  background-color: var(--lightgrey);
  transition: all ease-in-out 0.3s;
}

.navbar__lable-link:hover {
  text-decoration: none;
  color: var(--pureblack);
  transition: all ease-in-out 0.3s;
}

/*Section CSS*/
